<!--  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary"%>  header部分に移動 -->
<!--  <br />
<thead>
  <th>Email</th>
</thead>
<tbody>
  <tr>
    <% @users.each do |user| %>
    <td><%= user.email %><br /></td>
    <% end %>
  </tr>
</tbody>
特に不要な部分かと？-->

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <%= link_to "Create Post!!", new_post_path,class: "btn btn-lg btn-primary block"%>
  </div>
</div>

<div id="list-body" class="col-md-6">
  <% @posts.each do |post| %>
  <ul class="list">
    <li id="name"><%= post.name%></li>
    <li id="post-body"><%= link_to post.body.truncate(30), post_path(post.id)%></li>
    <li id="replybtn" class="col-md-offset-10"><%= link_to "Reply!!", new_reply_path,class: "btn btn-lg btn-primary block"%></li>
    <!--<li><%#= link_to 'Show', user %></li>
    <li><%#= link_to 'Edit', edit_user_path(user) %></li>
    <li><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
  </ul>
  <% end %>
</div>
